Binaries
DerivedDataCache
Intermediate
Saved
InfinityBladeEffects
**/Content/StarterContent/
**/Content/MilitaryWeapSilver/
**/Content/FPS_Weapon_Bundle/
**/Content/InfinityBladeEffects/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace